In [176]:
#Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import scipy.stats as st
from scipy.stats import linregress
from scipy.stats import ttest_ind

#Locating Data
import os 

MJ_Stats_Path = os.path.join("Resources", "MJ-Stats.csv")
Shaq_Stats_Path = os.path.join("Resources", "Shaq-Stats.csv")

#Reading Data
MJ_Stats = pd.read_csv(MJ_Stats_Path)
Shaq_Stats = pd.read_csv(Shaq_Stats_Path)

#Merge Data
data_df = pd.concat([MJ_Stats, Shaq_Stats])

#Print Stats
print(data_df.head())
print(data_df.shape)
data_df.info()

  Player  Game        Date        Age Team  Home Opposition  Win  Difference  \
0     MJ     1  10/26/1984  21.689938  CHI     1        WSB    1          16
1     MJ     2  10/27/1984  21.692676  CHI     0        MIL    0          -2
2     MJ     3  10/29/1984  21.698152  CHI     1        MIL    1           6
3     MJ     4  10/30/1984  21.700890  CHI     0        KCK    1           5
4     MJ     5   11/1/1984  21.706366  CHI     0        DEN    0         -16

   GS  ...  ORB  DRB  TRB  AST  STL  BLK  TOV  PF  PTS  GmSc
0   1  ...    1    5    6    7    2    4    5   2   16  12.5
1   1  ...    3    2    5    5    2    1    3   4   21  19.4
2   1  ...    2    2    4    5    6    2    3   4   37  32.9
3   1  ...    2    2    4    5    3    1    6   5   25  14.7
4   1  ...    3    2    5    5    1    1    2   4   17  13.2

[5 rows x 30 columns]
(2279, 30)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2279 entries, 0 to 1206
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Player          2279 non-null   object
 1   Game            2279 non-null   int64
 2   Date            2279 non-null   object
 3   Age             2279 non-null   float64
 4   Team            2279 non-null   object
 5   Home            2279 non-null   int64
 6   Opposition      2279 non-null   object
 7   Win             2279 non-null   int64
 8   Difference      2279 non-null   int64
 9   GS              2279 non-null   int64
 10  Minutes Played  2279 non-null   float64
 11  FG              2279 non-null   int64
 12  FGA             2279 non-null   int64
 13  FG%             2278 non-null   float64
 14  3P              2279 non-null   int64
 15  3PA             2279 non-null   int64
 16  3P%             764 non-null    float64
 17  FT              2279 non-null   int64
 18  FTA             2279 non-null   int64
 19  FT%             2224 non-null   float64
 20  ORB             2279 non-null   int64
 21  DRB             2279 non-null   int64
 22  TRB             2279 non-null   int64
 23  AST             2279 non-null   int64
 24  STL             2279 non-null   int64
 25  BLK             2279 non-null   int64
 26  TOV             2279 non-null   int64
 27  PF              2279 non-null   int64
 28  PTS             2279 non-null   int64
 29  GmSc            2279 non-null   float64
dtypes: float64(6), int64(20), object(4)
memory usage: 551.9+ KB

In [177]:
MJ_df = data_df.loc[data_df["Player"] == "MJ"].copy().dropna()
Shaq_df = data_df.loc[data_df["Player"] == "Shaq"].copy().dropna()

In [178]:
df_FTmean = data_df.groupby(["Player"]).mean()["FT%"]
df_FTmean

Player
MJ      0.828564
Shaq    0.523193
Name: FT%, dtype: float64

In [179]:
df_FTmedian = data_df.groupby(["Player"]).median()["FT%"]
df_FTmedian

Player
MJ      0.846
Shaq    0.500
Name: FT%, dtype: float64

In [180]:
MJ_df['FT%'].mean()

0.8275769230769229

In [181]:
Shaq_df['FT%'].mean()

0.5361363636363637

In [182]:
ttest_ind(MJ_df["FT%"].values, Shaq_df["FT%"].values, nan_policy='raise')

Ttest_indResult(statistic=8.196585177320415, pvalue=1.072009507122509e-15)

In [198]:
MJ_list = MJ_df.values()

TypeError: 'numpy.ndarray' object is not callable

In [ ]:
ax.boxplot([data list])